/* 

--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE (px) 
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHT (px)
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700


- LINE HEIGHT
Default: 1
Small 1.05
Medium:1.2
Paragraph default 1.6


- Letter spacing
-0.5px
0.75px


--- COLORS
--Primary: #152D7A;
- Tints: #e8eaf2, #d0d5e4
- Shades: #13296e
- Accents:
- Grey: --gunmetal: #28343B;, #343a40





--white-smoke: #F5F5F5;
--penn-blue: #0F2057;
--ghost-white: #E9ECF7;
--periwinkle: #BCC6E7;
--platinum: #E0E0E0;
--columbia-blue: #B5CCE1;
--persian-blue: #1E40AF;




--- SHADOWS

--- BORDER RADIUS
9px

--- WHITE SPACE
- SPACING SYSTEM (px) 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /*  Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;

  color: #343a40;
}

/***************************************/
/* GENERAL COMPONENTS */
/**************************************/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #28343B;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #152D7A;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}



.btn:link,
.btn:visited {
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;
  /* Put transition on the original state */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #152D7A;
}

.btn--full:hover,
.btn--full:active {
  /* background-color: #0F2057; */
  background-color: #13296e;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #343a40;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #e8eaf2;
  color: #343a40;
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
  /* border: 3px solid #fff; */
}

.margin-right-sm {
  margin-right: 1.6rem;
}