/***************************************/
/* HEADER */
/**************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8eaf2;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 25rem;
}

/***************************************/
/* NAVIGATION */
/**************************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #343a40;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #152D7A;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
  color: #fff;
  background-color: #152D7A;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #13296e;
}



/***************************************/
/* HERO SECTION */
/**************************************/
.section-hero {
  background-color: #e8eaf2;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  background: #fff;
}

.clients-satisfied {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.clients-imgs {
  display: flex;
}

.clients-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #e8eaf2;
}

.clients-imgs img:last-child {
  margin: 0;
}

.clients-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.clients-text span {
  color: #152D7A;
  font-weight: 700;
}

/***************************************/
/* FEATURED IN SECTION */
/**************************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}


/***************************************/
/* HOW IT WORKS SECTION */
/**************************************/
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  background-color: #e8eaf2;
  z-index: -2;
}

.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #d0d5e4;
  z-index: -1;
}

.step-img {
  width: 100%;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/***************************************/
/* PLANS SECTION */
/**************************************/
.section-services {
  padding: 9.6rem;
}

.service {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.service:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.service-content {
  padding: 4.8rem;
  padding-top: 3.2rem;
}

.service-tags {
  margin-bottom: 1.2rem;
  font-weight: 600;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #343a40;
  border-radius: 100px;
}

.tag--starter {
  background-color: #99e9f2;
}

.tag--popular {
  background-color: #a5d8ff;
}

.service-title {
  font-size: 2.4rem;
  color: #343a40;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.service-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.service-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.service-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #152D7A;
}

.service-img {
  width: 100%;
  background-color: #e8eaf2;
}

.all-services {
  text-align: center;
  font-size: 1.8rem;
}


/***************************************/
/* TESTIMONIALS & GALLERY SECTION */
/**************************************/
.section-testimonials {
  background-color: #e8eaf2;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;

}

.testimonial-container {
  padding: 9.6rem;
}

.testimonial-img {
  width: 64px;
  border-radius: 50%;
  background-color: #d0d5e4;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #656565;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  background-color: #fff;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}


/***************************************/
/* PRICING SECTION */
/**************************************/
.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {

  border-radius: 11px;

  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #e8eaf2;
  padding: 4.6rem;
}

.pricing-plan--premium {
  background-color: #e8eaf2;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--premium::after {
  content: 'Best Value';
  position: absolute;
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #99e9f2;
  padding: 0.8rem 8rem;
  color: #343a40;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;

}

.plan-name {
  color: #13296e;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #343a40;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
  color: #656565;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;

}

.feature-icon {
  color: #152D7A;
  height: 3.2rem;
  width: 3.2rem;

  background-color: #e8eaf2;
  padding: 1.6rem;
  border-radius: 50%;

  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #343a40;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8em;
  line-height: 1.8;
}

/***************************************/
/* CTA SECTION */
/**************************************/
.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #152D7A; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;

  /* background-image: linear-gradient(to right bottom, #445795, #152D7A); */
  /* height: 50rem; */
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(to right bottom, rgba(68, 87, 149, 0.35), rgba(21, 45, 122, 0.35)), url("../img/supporting-image.png");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: 3px solid #152D7A;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(21, 45, 122, 0.5);
}


/***************************************/
/* FOOTER SECTION */
/**************************************/
.footer {
  padding: 9.6rem 0;
}